
.BrandContainer {
  display: flex;
  font-size: 1em;
  flex-direction: column;   /* stack items vertically */
  align-items: center;      /* center horizontally */
  justify-content: center;  /* center vertically if you give it height */
  text-align: center;       /* ensures text inside is centered */
  padding: 3%;         /* optional: full screen height */
}


.BrandCaption{
    color: white;
    font-size: 1em;
    font-weight: bold;
}