.header {
  display: flex;
  justify-content: space-between; /* left, center, right zones */
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  padding: 0 1rem;
  z-index: 1000;
}

.left {
  flex: 1; /* empty space on left */
  color: white;
  font-weight: bold;
}


.logo {
  flex: 1;
  display: flex;
  justify-content: center; /* centers logo horizontally */
}

.rightmenuicons {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* pushes icons to far right */
}
