.header {
  padding-top: 1%;;
  position: fixed;          
  top: 0;                   
  left: 0;                  
  height: 5%;               
  width: 100%;              
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,    /* Solid black at the top */
    rgba(0, 0, 0, 0) 100%   /* Fully transparent at the bottom */
  );
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 1000;            
}








.rightmenuicons {
  display: flex;
  gap: 1rem;
}

